@import "tailwindcss";


body{
  font-family: 'Outfit';
  background-color: gray;
}

.correct {
  background-color: green;
  color: white;
  border-color: green;
}

.wrong {
  background-color: red;
  color: white;
  border-color: red;

}